.card {
    color: black;
    width: 65px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1.5px solid #000000;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin: 1.5px;
  }
  
  .selected {
    border: 2px solid rgb(247, 219, 34);
    background-color: rgb(233, 229, 127);
    transform: scale(1.1); /* Slightly enlarge the card when selected */
  }
  
  .card:hover {
    transform: scale(1.15); /* Slightly enlarge the card on hover */
  }
  