.card {
  width: 75px;  /* Adjust this width based on your design needs */
  height: 110px;  /* Adjust this height based on your design needs */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin: 1.5px;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;  /* Ensures the image fits inside the card without distortion */
}


.selected {
  border: 2px solid rgb(247, 219, 34);
  background-color: rgb(233, 229, 127);
  transform: scale(1.1); /* Slightly enlarge the card when selected */
}

.card:hover {
  transform: scale(1.15); /* Slightly enlarge the card on hover */
}
